html,body {
	background-image: url(../images/b2.jpg);
	background-position:center;
	height: 100vh;
	font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
	font-weight: bold;
}

.container .jumbotron {
	margin-top: 150px;
	
}


