css/* linguist-detectable=false
js/* linguist-detectable=false
login/css/* linguist-detectable=false
login/js/* linguist-detectable=false
login/vendor/* linguist-detectable=false
*.html linguist-detectable=false
fonts/* linguist-detectable=false
*.php linguist-detectable=true
login/*.php linguist-detectable=true